# Introdução ao Pandas

Este notebook complementa o texto de Introdução ao Pandas no Medium. Neste repositório você localiza a base de dados "dividas.csv", que será o nosso objeto de estudos. Siga as instruções abaixo para realizar seus exercícios.

### Referências

Você pode consultar as referências que julgar necessário. Listo algumas úteis:

* http://pandas.pydata.org/pandas-docs/stable/
* https://www.python.org/doc/

### Importar as bibliotecas que serão utilizadas no exercício

In [ ]:
import pandas as pd
import cenarios_unittest as testes

### Cenário #01 - Leitura do arquivo CSV

In [ ]:
# TODO: crie um dataframe a partir do arquivo "dividas.csv"
df = None

# Não altere nada abaixo desta linha
testes.verificar_cenario_01(df)

### Cenário #02 - Extraindo as 5 primeiras linhas do dataframe

In [ ]:
# TODO: extraia as cinco primeiras linhas do dataframe
cinco_primeiras_linhas = None

# Não altere nada abaixo desta linha
testes.verificar_cenario_02(cinco_primeiras_linhas)

### Cenário #03 - Conversão dos tipos numéricos que estão como string

Crie uma função chamada converter_string_para_float que verifica se o argumento já é do tipo float e o retorna caso positivo. Caso negativo, ele será uma string (ex.: "123,45"; "1.234,56"). Quando for uma string, converta-o para float antes de retornar o valor numérico.

In [ ]:
# TODO: retorne o valor float a partir de um argumento que pode ser uma string
def converter_string_para_float(x):
    return 0.0

# Não altere nada abaixo desta linha
testes.verificar_cenario_03(converter_string_para_float)

### Cenário #04 - Aplique a função de conversão nas colunas ValorVencido e ValorPago

Como podemos ver abaixo, as séries ValorVencido e ValorPago são do tipo object. Utilize a função que você criou acima para converter os valores.

In [ ]:
df['ValorVencido'].head(5)

In [ ]:
df['ValorPago'].head(5)

In [ ]:
# TODO: aplique a função converter_string_para_float e substitua as séries com os novos dados

# Não altere nada abaixo desta linha
testes.verificar_cenario_04(df)

In [ ]:
df['ValorVencido'].head(5)

In [ ]:
df['ValorPago'].head(5)

### Cenário #05 - Média e Soma

Responda as pergundas abaixo, salvando os valores nas variáveis especificadas.

In [ ]:
# TODO: Calcule a média das dívidas e dos pagamentos, e a proporção recebida em relação ao total devido
media_das_dividas = 0.0
media_dos_pagamentos = 0.0

total_pago = 0.0
total_devido = 0.0

razao_entre_total_pago_e_total_devido = 0.0

# Não altere nada abaixo desta linha
testes.verificar_cenario_05("media_das_dividas", media_das_dividas)
testes.verificar_cenario_05("media_dos_pagamentos", media_dos_pagamentos)
testes.verificar_cenario_05("razao_entre_total_pago_e_total_devido", razao_entre_total_pago_e_total_devido)

### Cenário #06 - Separação dos dados entre casados, solteiros e outros

In [ ]:
df['EstadoCivil'].value_counts()

In [ ]:
# TODO: separe os dados do dataframe por estado civil, utilizando apenas as quantidades mais expressivas
casados = None
solteiros = None
outros = None

# TODO: calcule a proporção recebida em relação ao total devido de cada grupo
razao_casados = 0.0
razao_solteiros = 0.0
razao_outros = 0.0

# Não altere nada abaixo desta linha
testes.verificar_cenario_06_dataframe("casados", casados)
testes.verificar_cenario_06_dataframe("solteiros", solteiros)
testes.verificar_cenario_06_dataframe("outros", outros)

testes.verificar_cenario_06_razao("casados", razao_casados)
testes.verificar_cenario_06_razao("solteiros", razao_solteiros)
testes.verificar_cenario_06_razao("outros", razao_outros)

# Desafios

Esta nova seção apresenta dois desafios para você exercitar os conceitos aprendidos até aqui. No primeiro, você será avaliado por um caso de teste parecido com o Cenário #06, a diferença é que você utilizará a série Sexo. No segundo desafio, você calculará a mesma razão entre o valor pago e o valor devido entre as décadas, calculada a partir da data de nascimento.

### Desafio #01 - Separação dos dados pela série Sexo

In [ ]:
mulheres = None
homens = None

razao_mulheres = 0.0
razao_homens = 0.0

# Não altere nada abaixo desta linha
testes.verificar_desafio_01_dataframe("mulheres", mulheres)
testes.verificar_desafio_01_dataframe("homens", homens)

testes.verificar_desafio_01_razao("mulheres", razao_mulheres)
testes.verificar_desafio_01_razao("homens", razao_homens)

### Desafio #02 - Separação dos dados pela década

No nosso dataframe não existe uma série específica para a década, mas existe a data de nascimento e podemos calcular este dado a partir dela. Você vai criar uma função que recebe um inteiro representando o ano e retorna a década (ex.: f(1989) = 80). Com a função pronta, você vai criar uma série chamada Decada. Por fim, você exibirá a razão entre o valor pago e o valor devido para as décadas de 1920 à 2000.

In [ ]:
# TODO: Implemente a função década que recebe um inteiro e retorna outro inteiro representando a década
def decada(ano):
    return 0

# Não altere nada abaixo desta linha
testes.verificar_desafio_02_decada(decada)

In [ ]:
# TODO: crie uma série Decada do tipo inteiro, utilizando o campo DataNascimento que é string
# TODO: caso haja algum valor NaN, preencha ele com 0.
df['Decada'] = None

# Não altere nada abaixo desta linha
testes.verificar_desafio_02_serie_decada(df)

In [ ]:
# TODO: calcule a razão entre o valor pago e o valor devido referente a cada década entre 1920 e 2000.
# TODO: crie um dicionário, sendo que a chave é a década e o valor é a razão (ex.: {20: 1.23, 30: 4.56})
dicionario_decadas = {}

# Não altere nada abaixo desta linha
testes.verificar_desafio_02_razao_decadas(dicionario_decadas)